#user-form {
    background-color: rgb(82, 91, 67);
    height: auto;
    width: 50%;
    border-radius: 20px;
}

#user-form h1 {
    border-bottom: 2px solid black;
    padding: 25px;
}

#user-form label, input {
    display: block;
    margin: 5px;
}

#user-form label {
    font-size: 1em;
}

#user-form input {
    height: 2.5em;
    width: 95%;
    border-radius: 10px;
}

#user-form button {
    margin: 10px;
}

