#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#image {
    height: 150px;
    margin: auto;
}

#example-collapse-text {
    padding: 30px;
}