@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
  font-family: 'Anton', sans-serif;
  background-color: rgb(56, 61, 46);
  color: rgb(239, 215, 202);
}

#navbar-whole {
  padding: 20px;
}

#image {
  height: 60px;
}